<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wrkin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>OldStandardTT-Bold.ttf</string>
		<string>OldStandardTT-Regular.ttf</string>
		<string>OldStandardTT-RegularItalic.ttf</string>
		<string>Sarpanch-Black.ttf</string>
		<string>Sarpanch-Bold.ttf</string>
		<string>Sarpanch-ExtraBold.ttf</string>
		<string>Sarpanch-Medium.ttf</string>
		<string>Sarpanch-Regular.ttf</string>
		<string>Sarpanch-SemiBold.ttf</string>
		<string>Spectral-ExtraLight.ttf</string>
		<string>Spectral-ExtraLightItalic.ttf</string>
		<string>Spectral-Light.ttf</string>
		<string>Spectral-LightItalic.ttf</string>
		<string>Spectral-Regular.ttf</string>
		<string>Spectral-RegularItalic.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>K2D-Bold.ttf</string>
		<string>K2D-BoldItalic.ttf</string>
		<string>K2D-ExtraBold.ttf</string>
		<string>K2D-ExtraBoldItalic.ttf</string>
		<string>K2D-ExtraLight.ttf</string>
		<string>K2D-ExtraLightItalic.ttf</string>
		<string>K2D-Italic.ttf</string>
		<string>K2D-Light.ttf</string>
		<string>K2D-LightItalic.ttf</string>
		<string>K2D-Medium.ttf</string>
		<string>K2D-MediumItalic.ttf</string>
		<string>K2D-Regular.ttf</string>
		<string>K2D-SemiBold.ttf</string>
		<string>K2D-SemiBoldItalic.ttf</string>
		<string>K2D-Thin.ttf</string>
		<string>K2D-ThinItalic.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
	</array>
</dict>
</plist>
