{% load i18n %}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginform.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">


    <style>
         .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: orange;
            text-align: center;
            }

           .w3-allerta {
              font-family: "Allerta Stencil", Sans-serif;
            }
    </style>




    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top w3-allerta">
          <a class="navbar-brand w3-allerta" href="#" style="color: orange; font-weight: bold;">WorkIn</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <a class="btn my-2 my-sm-0" href="{% url 'userena_signin' %}">{% trans 'Signin' %}</a>
              <a class="btnn my-2 my-sm-0" href="{% url 'userena_signup' %}">{% trans 'Signup' %}</a>
            </form>
          </div>
        </nav>

        <div class="container pswrst w3-allerta">
<!--            <img src="/static/img/user.png" id="avatar" >-->
            <h1 class="" style="font-size:32px;">-{% trans "Reset Password" %}-</h1>

            <form method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="" value="{% trans 'Send password' %}">
            </form>

        </div>

        <footer class="footer bg-light">
          <div class="content">
              <ul class="foote_bottom_ul_amrc">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
              </ul>
              <p class="text-center">Copyright @2019 | Designed With by <a href="#" style="font-weight:bold;">WorkIn.com</a></p>
          </div>
        </footer>



    </body>




</html>
